<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Title of the article' %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: 'Body of the article' %>
  </p>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
    <% cb.label { cb.check_box + cb.text } %>
  <% end %>
  <p>
    <%= f.submit %>
  </p>
<% end %>