<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Title of the article' %>
  </p>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: 'Body of the article' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>