<h1><%= @article.title %></h1>
<p><%= link_to @article.user.username, user_path(@article.user) %></p>

<% if @article.categories.any? %>
  <p>Categories</p>
  <%= render @article.categories %>
<% end %>

<p><%= @article.body %></p>

<% if logged_in? && (admin? || current_user == @article.user) %>
  <%= link_to 'Edit', edit_article_path(@article) %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back to listing', articles_path %>

<% if logged_in? %>
  <%= form_for [@article, @comment], remote: true do |f| %>
    <p>
      <%= f.text_area :description, rows: 3, placeholder: 'Add a comment.' %>
    </p>
    <p>
      <%= f.submit 'Add' %>
    </p>
  <% end %>
<% end %>

<% if @article.comments.any? %>
  <div id='notes'>
    <%= render @article.comments %>
  </div>
<% end %>