<div class="container">
  <h1 class="page-title col-sm-offset-2 col-sm-8 no-padding">Users</h1>
  <% @users.each do |u| %>
    <div class="panel panel-default col-sm-offset-2 col-sm-8 no-padding">
      <div class="panel-heading">
        <h3>
          <%= link_to u.username, user_path(u) %>
          <% if u.admin? %>
            <span class="label label-info">Admin</span>
          <% end %>
        </h3>
        <div class="row">
          <div class="col-xs-6">
            <p><%= pluralize(u.articles.count, 'article') %></p>
          </div>
          <div class="col-xs-6 text-right">
            <%= link_to 'View', user_path(u) %>
            <% if logged_in? && current_user == u %>
              | <%= link_to 'Edit', edit_user_path(u) %>
            <% end %>
            <% if logged_in? && admin? %>
              | <%= link_to 'Delete', user_path(u), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div align="center">
    <%= will_paginate @users %>
  </div>
</div>