<div class="container">
  <h1 class="page-title col-sm-offset-2 text-capitalize col-sm-8">
    <div class="row">
      Category: <%= @category.name %>
    </div>
  </h1>
  <div class="col-sm-offset-2 col-sm-8 no-padding">
    <div class="row space-below">
      <h4 class="col-xs-6">
        <%= pluralize(@category.articles.count, 'article') %>
      </h4>
      <div class="col-xs-6 text-right h4">
        <% if logged_in? && admin? %>
          <%= link_to 'Edit', edit_category_path(@category) %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'articles/list', articles: @articles %>
  <div align="center">
    <%= will_paginate @articles %>
  </div>
</div>